.categories-main {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 flex-wrap: wrap;
 gap: 50px;
 padding-top: 60px;
 padding-bottom: 50px;
 width: 100%;
 height: auto;
 min-height: 100vh;
}
.categories {
 border: 1px solid white;
 border-radius: 50px;
 padding: 35px;
 width: 500px;
}
.name-category {
 font-size: 38px;
 display: inline-block;
 position: relative;
}
.name-category:after {
 content: "";
 position: absolute;
 bottom: 0;
 left: 0;
 width: 120%;
 height: 1px;
 background-color: white;
 margin: 0 -34px
}
.sub-category {
 font-size: 24px;
}