.catalogue-body {
  background-image: url("../../../assets/Background-catalogue.jpg");
  background-size: cover;
  object-fit: cover;
  background-position: 0cm -1cm;
  background-repeat: no-repeat;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.nav-info-container {
  display: flex;
  flex-direction: column;
  & .nav-brand,
  .nav-model,
  .nav-cylinder,
  .nav-powerkw,
  .nav-year {
    color: white;
  }
}
.more-info {
  display: flex;
  flex-direction: row;
}
.nav-categories {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-direction: row;
    font-size: 35px;
    gap: 50px;

    .category-item {
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      &.active {
        background-color: rgba(255, 255, 255, 0.3);
        font-weight: bold;
      }
    }
  }
}
.piece-modal {
  flex: 1;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}
.piece-modal.active {
  display: block; /* Affiche lorsque nécessaire */
}
.nav-categories ul {
  display: inline-flex;

}
.info-container {
  position: relative;
  top: 20px;
  left: 81%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  height: 9.6vh;
  background-color: #f1f1f1;
  border: 1px solid black;
  padding-right: 5px;
  & img {
    margin-right: 5px;
    object-fit: cover;
    position: relative;
    max-width: 100%;
    height: 9.4vh;
  }
  & p {
    font-weight: 300;
    font-size: 16px;
    color: black;
    padding-right: 5px;
  }
  .brand-model {
    display: flex;
    flex-direction: row;
    & p {
      font-size: 24px;
    }
  }
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 5px 5px 15px;
  width: 100%;
  height: auto;
  border-top: 0.1px solid white;
  border-bottom: 0.1px solid white;
  background-color: rgba(0, 0, 0, 0.25);
}
// Modale Catégories

.modal-container {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
  transition: all 0.3s ease-in-out; 
  background-color: #f5f5f5 ;
  display: flex;
  gap: 20px;
  padding: 15px;
  height: 40vh;
  max-width: 810px;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-top: 0px;
  border-radius: 0px 0px 10px 10px;
}
.modal-left,
.modal-right {
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.0001);
  overflow-y: auto;
  scrollbar-width: thin;
  overflow-x: hidden;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
.modal-left::-webkit-scrollbar,
.modal-right::-webkit-scrollbar {
  display: none;
}
.modal_close {
  color: black;
  position: absolute;
  top: 0.4em;
  right: 1em;
}
.promo-image {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: -20px;
}
.modal-left {
  max-width: 280px;
}
.modal-right {
  margin-left: 45px;
}
.modal-title {
  padding: 20px 10px 60px 25px;
  font-size: 2.8rem;
  height: 10%;
  background-color: #f5f5f5 ;
  border-radius: 0px 10px 0px 0px;
}
.sub-category-title {
  font-size: 2rem;
  margin-bottom: 10px;
  border-bottom: 3px solid black;
}
.category-list,
.sub-category-list {
  padding: 0;
  margin: 0;
}
.category-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  cursor: pointer;
  font-size: 1.5rem;
}
.category-name,
.sub-category-item,
.sub-category-title {
  color: white;
}
.category-item.active,
.category-item:hover,
.sub-category-item:hover{
  background-color: black;
}
.sub-category-item {
  padding: 13.7px;
  cursor: pointer;
  font-size: 1.2rem;
  border-bottom: 1px solid black;
}
.view-all-link {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
